* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #3535fd;
}

form {
  padding-top: 0.3rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18vh;
}

.toDo-container {
  position: relative;
  background-image: url("backGroundPostIT.jpg");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  border: 5px solid #37723f;
}
.titles {
  display: flex;
  /* text-align: center; */
  align-items: center;
  align-content: stretch;
  /* justify-content: space-evenly; */
  padding: 0;
  width: auto;
  color: #061bfd;
  margin-top: 1rem;
  margin-right: 0;
  margin-left: 14rem;
}

.taskDesc {
  padding-left: 0;
  width: 12rem;
}

.importanceLevel {
  text-align: right;
  width: 12rem;
}

.titles-2 {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  color: #061bfd;
  margin-top: 2rem;
  margin-right: 11rem;
  margin-left: 2rem;
}

.level {
  width: 8rem;
  text-align: right;
}
.task {
  width: 8rem;
  text-align: left;
}

input {
  height: 4rem;
  width: 20rem;
  margin: 0;
  border: 5px solid #37723f;
  border-radius: 2px;
  font-size: 1.5rem;
}

input:hover {
  opacity: 0.7;
  color: blue;
}
select {
  font-size: 1rem;
  height: 4rem;
  width: 7rem;
  border: 5px solid #37723f;
}
select:hover {
  opacity: 0.7;
  color: blue;
}

.todo-button {
  height: 4rem;
  width: 4rem;
  border: 5px solid #37723f;
  font-size: 1.5rem;
}

.todo-button:hover {
  opacity: 0.7;
  color: blue;
}
.todolist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content: space-around;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  background-color: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding: 2rem 0.5rem 2rem 0.5rem;
  border: 3px solid #37723f;
  border-radius: 5px;
  padding-left: 3rem;
}
.modal > button {
  padding: 0rem;
  justify-content: center;
}

.modal-notification {
  margin: 0;
  font-size: 1.3rem;
  padding: 0;
}

.close-modal {
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0;
}

.hidden {
  display: none;
}

.todo {
  display: flex;
  color: #fd0606;
  font-size: 2rem;
}

.todo-item {
  display: flex;
  padding: 1.5rem 1rem 1.5rem 1rem;
  justify-content: left;
  /* border: 2px solid gold; */
  width: 10rem;
}
.todo-item > strong {
  text-align: left;
}

.todo-item-dec {
  width: 20rem;
  word-wrap: break-word;
  height: auto;
  padding: 1.5rem 1rem 1.5rem 1rem;
  justify-content: center;
}

.importance-todo {
  font-size: 1rem;
  width: 9rem;
  text-align: center;
}

.completed {
  color: #0af82a;
  text-decoration: line-through;
}

.complete-btn,
.delete-btn {
  background: none;
  border: none;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #1706fd;
  font-size: 2.1rem;
}

.fa-check .fa-trash {
  padding: 2.5rem;
  margin: 0;
}
